.header{
    grid-area: header;
    background-color: lawngreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img{
    height: 80px;
    width: 100px;
}
.login_block  a {
    color: #fff;
    text-decoration: none;
}