.wrap{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
* {
    transition: all .5s ease-in;
}
.message{
    min-width: 50%;

}

.person_img img {
    width: 30px;
}
.person{
    margin-right:  30px;
    text-align: center;
}


.person_title{
    margin: 0;
    padding: 0;

}
.text{
    border: 1px solid slategray;
    border-radius: 10px;
    padding: 10px 10px;
}