.app_wrapper{
  display: grid;
  grid-template-areas:
  'header header'
  'nav content';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;
  padding: 10px;
  width: 1200px;
  margin: 0 auto;
}
.content{
  grid-area: content;

}
.main_menu {
  background: white;
}

.img_header{
  height: 60px;
  width: 70px;

}
.img_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_app{
  display: flex;
  justify-content: space-between;
  align-items: center;
}