.wrapper{
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    height: 100%;
    max-width: 100%;
}
.line{
    border: 1px solid black;
    border-left: none;
    margin: 20px 0;
}
textarea {
    resize: none;
    width: 200px;
}
.textarea_head {
    display: flex;
    align-items: center;
}
.textarea {
    margin-right: 10px;
}
.btn_dialog {
    height: 40px;
}